<div class="container">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
    <div class="card shadow">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <h4 class="text-dark text-muted">Login</h4>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control"  name="email" [(ngModel)]="this.email">

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="this.passwprd">
          </div>

          <button type="button" class="btn btn-info" (click)="login()">Login</button>
          <div class="row">
            <div class="col-md-6">
             <a href="/register" style="text-decoration: none">Need Account? <span class="text-danger">Register</span></a>
            </div>
            <div class="col-md-6">
              <a routerLink="/forgot-password"  class="text-dark" style="text-decoration: none">Forgot Password?</a>
            </div>
          </div>
          <div class="row mt-2">
            <a (click)="signinwithGoogle()" style="cursor: pointer">
            <div class = "card">
              <div class="card-body">

           <img src="../../../assets/icon/google-logo-9808-16x16.ico" >   Sign in with Google
          </div>
        </div>
      </a>
          </div>
        </form>

      </div>
    </div>

    </div>
    <div class="col"></div>
  </div>
</div>
